wp-content/gallery
wp-content/gd-star-rating
wp-content/uploads
wp-content/blogs.dir
wp-config.php
wp-cache-config.php
advanced-cache.php
humans.txt
cache
error_log
*.md
*.swp
*.log
*.cache
*~
.idea
.htaccess
.DS_Store
.ftpquota
scss/.sass-cache/
bower_components/*
node_modules/*
src/tmp